@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #2a323c;
  font-family: "PT Sans Caption", sans-serif;
  margin: 0;
  color: #9fa2a7;
}

.sidemenu ul.menu li.has-menu a {
  color: #2a323c;
}

.sidemenu ul.menu li.has-menu a:hover {
  color: #ffffff;
  background-color: #04a2b3;
}
